#home-container {
    font-family: Microsoft JhengHei, serif;
    color: #4d4d4d;
    .banner-container {
        border-bottom: 5px solid #c1c163;
        text-align: center;
        .title{
            font-size: 40px;
        }
    }
}